.footer{
    display: flex;
    align-items: center;
    margin: 0 -3.5rem;
    position: relative;
    margin-top: -12rem;
}
.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 6rem;
    gap: 4rem;
    color: white;

}
.f-content span{
    margin-bottom: -2rem;
    font-size: 26px;
}
.f-icons{
    display: flex;
    gap: 2rem;

}

@media screen and (max-width: 480px){
    .f-content{
        transform: scale(0.5);
    }
}
