.works{
    padding: 0 3rem 3rem;
    display: flex;
    height: 90vh;
    margin-top: 4rem;
}
/* right side */
.w-right{
    position: relative;
}
.w-mainCircle{
    left: 9rem;
    position: relative;
    height: 18rem;
    width: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white;
    animation: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
}
.w-mainCircle>*{
    position: absolute;
}
.w-mainCircle>:nth-child(1){
    top: -3rem;
    left: 6rem;
    animation: rotatesec 5s infinite cubic-bezier(1, 1, 1, 1);
}
.w-mainCircle>:nth-child(2){
    left: -3rem;
    top: 5rem;
    animation: rotatesec 5s infinite cubic-bezier(1, 1, 1, 1);
}
.w-mainCircle>:nth-child(3){
    left: 33%;
    top: 33%;
    animation: rotatesec 5s infinite cubic-bezier(1, 1, 1, 1);
}
.w-mainCircle>:nth-child(4){
    left: 15rem;
    top: 5rem;
    animation: rotatesec 5s infinite cubic-bezier(1, 1, 1, 1);
}
.w-mainCircle>:nth-child(5){
    left: 6rem;
    top: 15rem;
    animation: rotatesec 5s infinite cubic-bezier(1, 1, 1, 1);
    
}
.w-secCircle{
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    box-shadow: var(--smboxShadow);
    background: white;
    
}
.w-secCircle > img{
    transform: scale(0.6);
}
.w-backCircle{
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}
.blueCircle{
    background: #1949b8;
    left: 18rem;
    top: 0rem;
}
.yellowCircle{
    background: #f5c32c;
    left: 18rem;
    top: 8rem;
}


@keyframes rotate {
    0%{
        transform: rotate(0deg);
    } 
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotatesec {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);

    }
}

@media screen and (max-width: 480px){
    .works{
        flex-direction: column;
        height: 45rem;
        padding: 0;
        gap: 5rem;

    }
    .w-right{
        display: flex;
        align-items: flex-start;
        justify-content: start;
        transform: scale(0.7);
    }
    .w-mainCircle{
        position: static;
    }
    .w-backCircle{
        left: 8rem!important;
    }
    .button{
        margin: 0 auto;
    }
    .w-textContent{
        margin: 5px 0 15px 0;
        padding: 0 15px;
    }
}